<div class="row">
  <div class="col-lg-12"><h4>Organizations</h4></div>
  <% @organizations.each do |org| %>
      <%= link_to org do %>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
              <%= org.name %>
              <div class="count"><%= org.users.count %></div>
              <div class="title">Expired: <%= org.end_date.strftime('%m/%d/%Y') %></div>
            </div><!--/.info-box-->
          </div>
      <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12"><h4>Projects</h4></div>
  <% @projects.each do |project| %>
      <div class="col-md-3">

        <div class="social-box facebook">
          <%= link_to details_project_path(project) do %>
              <i><%= project.name %></i>
          <% end %>
          <ul>
            <li>
              <%= link_to users_project_path(project) do %>
                  <strong><%= project.users.count %></strong>
                  <span>users</span>
              <% end %>
            </li>
            <li>
              <%= link_to project_cards_path(project) do %>
                  <strong><%= project.cards.count %></strong>
                  <span>cards</span>
              <% end %>
            </li>
          </ul>
        </div><!--/social-box-->
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12"><h4>Subscriptions</h4></div>
  <% @subscriptions.each do |subscription| %>
      <%= link_to subscription do %>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
              <%= subscription.plan_subscriber.is_a?(Organization) ? subscription.plan_subscriber.name : subscription.plan_subscriber.email %>
              <div class="count"><%= subscription.plan.plan_type.capitalize() %></div>
              <div class="title">Expired: <%= subscription.end_date.strftime('%m/%d/%Y') %></div>
            </div><!--/.info-box-->
          </div>
      <% end %>
  <% end %>
</div>