<div class="row">
  <% @projects.each do |project| %>
      <div class="col-md-3">

        <div class="social-box facebook">
          <%= link_to details_project_path(project) do %>
              <i><%= project.name %></i>
          <% end %>
          <ul>
            <li>
              <%= link_to users_project_path(project) do %>
                  <strong><%= project.users.count %></strong>
                  <span>users</span>
              <% end %>
            </li>
            <li>
              <strong><%= project_creator(project)  %></strong>
              <span><%= project.creator.class %></span>
            </li>
          </ul>
        </div><!--/social-box-->
      </div>
  <% end %>
</div>