<div class="col-md-4">
  <div class="panel">
    <div class="panel-heading <%= card_color(card) %>">
      <%= card.title %>
      <%= link_to edit_project_card_path(card.project, card), class: 'pull-right' , remote: true do %>
          <i class="fa fa-pencil-square"></i>
      <% end %>
      <%= link_to project_card_path(card.project, card), class: 'pull-right', method: :delete , remote: true do %>
          <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
    <div class="panel-content">
      <%= card.description %>
      <h5>Tasks</h5>
      <div id="card-tasks">
        <%= render partial: 'tasks/tasks', locals: {tasks: card.tasks, card: card} %>
      </div>
    </div>
  </div>
</div>