<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <%= organization.new_record? ? 'New Organization' : 'Edit Organization' %>
      </header>
      <div class="panel-body">
        <%= form_with(model: organization, local: true, class: 'form-horizontal') do |f| %>
          <%= render partial: 'shared/errors', locals: {obj: organization} %>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <%= f.text_field :name, class: 'form-control', id: 'inputName', placeholder: "Org. Name" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputDesc" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <%= f.text_area :description, rows: '4', class: 'form-control', id: 'inputDesc', placeholder: "Org. Description" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-success">
                <%= organization.new_record? ? 'Create Organization' : 'Update Organization' %>
              </button>
              <%= link_to 'Cancel', organization.new_record? ? organizations_path :
                  organization_path(organization), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>