<div class="row m-bot20">
  <div class="col-lg-6">
    <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-success btn-xs' %> |
    <%= link_to 'Back', organizations_path, class: 'btn btn-danger btn-xs' %>
  </div>

  <% if @active_subscriptions.count > 0 && current_user == @organization.owner %>
      <div class="col-lg-6 text-right">
        <a href="#projectForm" data-toggle="modal" class="btn  btn-primary">
          Create Project
        </a>
      </div>
      <%= render partial: 'shared/project_form', locals: {project: Project.new, creator: @organization} %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <%= @organization.name %>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= @organization.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <section class="panel">
      <header class="panel-heading">
        Add Users to #<%= @organization.name %>
      </header>
      <div class="panel-body">
        <%= form_for @organization, :url => add_user_organization_path, method: 'POST', class: 'form-inline' do %>
        <!--<form class="form-inline" role="form">-->
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-success">Add User</button>
        <!--</form>-->
        <% end %>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <section class="panel">
      <header class="panel-heading">
        Organization Users
      </header>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @owner.id %></td>
          <td>*<%= @owner.email %></td>
        </tr>
        <% @org_users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
